extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Simone Beaver

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am currently learning to code through project Athena. Treehouse partnered with Verizon to bring in 20 people to learn to code,
            |and I was lucky to be one of them. We are on a fast track to learn the materials neccessary to be considered a FullStack Developer.
            |Hopefully I'll become an amazing developer and be able to reach back to my community to share my knowledge.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li jQuery
          li JavaScript
          li HTML
          li CSS 
          li Pug
          li Node
          li NPM
          li ajax
          li GitHub

        h6 Contact Info

        //- Add your own contact info
        ul
          li 214-710-5868
          li simone.beaver@verizon.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        //- a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/SBeaver0590') GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  